body{
	font-family: "Poppins", sans-serif;
	margin: 0;
}
.container{
	border: 1px solid #ddd;
	margin: 20px auto;
	padding: 5%;
	text-align: center;
}
.container h2{
	font-weight: bold;
	font-size: 35px;
	margin-bottom: 0;

}
.container p{
	color: rgb(113, 113, 113);
}
.container form{
	margin-top: 25px;
}
.child_form{
	width: 100%;
	margin-bottom:15px ;
	text-align: left;
}
.child_form label{
	display: block;
	margin-bottom: 5px;
}
.child_form input, 
.child_form textarea{
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px 3%;
	width: 94%;
	font-family: "Poppins", sans-serif;

}
.child_form input, 
.child_form textarea:focus{
	outline: 0;

}


.child_form input[type=button]{
	width: 200px;
	background-color: blueviolet;
	border: none;
	color: white;
	cursor: pointer;
	transition: .33s;

} 
.child_form input[type=button]:hover{
	background-color: violet;
	color: white;
}




.child_form:last-child{
	margin-bottom:0 ;
}


